<main class="body-container">
  <hero></hero>
  <section class="cta-form">
    <div class="cta">
      <span>Try it free 7 days</span> then $20/mo. thereafter
    </div>

    <!-- action is where the information is getting sent to, so where would this go? script.js? -->
    <form action="#" method="post">
      <label for="firstname">
        <!-- min length vs max length required?-->
        <input type="text"  placeholder="First Name" id="input-firstname">
        <!-- <img src="images/icon-error.svg" alt="Error!" id="first-img"> -->
        <!-- <span id="first-span">First Name cannot be empty</span> -->
      </label>
      <label for="lastname">
        <input type="text"  placeholder="Last Name" id="input-lastname">
        <!-- <img src="images/icon-error.svg" alt="Error!" id="second-img"> -->
        <!-- <span id="second-span">Last Name cannot be empty</span> -->
      </label>
      <label for="email">
        <input type="email" placeholder="Email Address" id="input-email">
        <!-- <img src="images/icon-error.svg" alt="Error!" id="third-img"> -->
        <!-- <span id="third-span">Looks like this is not an email</span> -->
      </label>
      <label for="Password">
        <input type="password"  placeholder="Password" id="input-password">
        <!-- <img src="images/icon-error.svg" alt="Error!" id="fourth-img"> -->
        <!-- <span id="fourth-span">Password cannot be empty</span> -->
      </label>

      <button type="button">Claim Your Free Trial</button>

      <!-- tiny terms & conditions text -->
    <div class="terms">
      By clicking the button, you are agreeing to our <span class="span-terms"><a href="#">Terms and Services</a></span>
    </div>

    </form>
  </section>

</main>

<footer class="footnotes"></footer>
