@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: hsl(0, 100%, 74%) 
                url("images/bg-intro-desktop.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    padding: 7.5%;
}

.body-container {
    display: flex;
    flex-direction: row;

}

.body-container .hero {
    /* border: 1px solid red; */
    color: white;
    padding: 2em;
}

.body-container .hero h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
}

.body-container .hero p {
    /* border: 1px solid red; */
    font-size: 16px;
}

.body-container .cta-form {
    /* border: 1px solid red; */
    color: white;
    font-weight: 400;
    padding: 0 2em;
    height: auto;
    width: 100%;
}

.cta-form .cta {
    /* border: 1px solid red; */
    font-size: 16px;
    background-color: hsl(248, 32%, 49%);
    border-radius: 12px;
    padding: 1.5em;
    text-align: center;
    box-shadow: 0 8px 1px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 1.5em;
}

.cta-form .cta span {
    font-weight: 700;
    letter-spacing: 0.06em;
}

.cta-form form {
    border: 1px solid black;
    /* height: auto; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    flex-basis: 100%;
}

.cta-form form input {
    border: 1px solid black;
    width: 100%;
    height: 2em;
    border-radius: 6px;
    padding: 5%;
    margin-bottom: 1em;
    border: 1px solid hsl(246, 25%, 77%);
}

.cta-form form input:focus {
    border: 1px solid hsl(248, 32%, 49%);
    caret-color: hsl(248, 32%, 49%);
    outline: transparent;
}

.attribution,
.time-estimates { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(246, 25%, 77%);
    text-decoration: none;
    transition: all ease-in-out 200ms;
}

.attribution a:hover {
    color: hsl(228, 45%, 44%); 

}