<ul class="footnotes__time-estimates">
    <li class="time-estimates__item">
      Time Estimated: {{timeEstimate}}
    </li>
    <li class="time-estimates__item">
      Time Completed: {{timeCompleted}}
    </li>
  </ul>
<p class="footnotes__attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
</p>
<p class="footnotes__attribution">
  Coded by <a href="https://www.marissahuysentruyt.com/" target="blank">Marissa Huysentruyt</a>.
</p>

