.footnotes {
  &__time-estimates {
    font-size: 0.875rem; // 14px/16
    text-align: center; 
    margin: none;
    padding: none;
    list-style-type: none;

    .time-estimates__item {
      line-height: 1.4;
    }
  }

  &__attribution {
    font-size: 0.875rem; 

    text-align: center; 

    a {
      color: hsl(228, 45%, 44%); 
      text-decoration-color: transparent;
      text-underline-offset: 0.25rem;
      transition: all ease-in-out 100ms;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
