.terms {
  color: hsl(246, 25%, 77%);
  font-size: 0.875rem; // 14px/16
  text-align: center;

  &__content a {
    text-decoration-color: transparent;
    text-underline-offset: 0.25rem; // 4px/16
    color: hsl(0, 100%, 74%);
    transition: all ease-in-out 200ms;

    &:hover {
      color: hsl(248, 32%, 49%);
      text-decoration-color: hsl(248, 32%, 49%);
    }

    &:focus-within {
      color: hsl(248, 32%, 49%);
      outline: 1px solid hsl(228, 45%, 44%);
      border-radius: 0.25rem; // 4px/16
    }
  }
}
