body {
  margin: 0;
  background: hsl(0, 100%, 74%)
                url('../../assets/bg-intro-mobile.png');
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  padding: 1.25rem; // 20px/16

  @media (min-width: 48rem) {
    padding: 2rem;
    background: hsl(0, 100%, 74%)
                url('../../assets/bg-intro-desktop.png');
  }

}
